#App {
  padding: 20px;
}

#DivSplash,
#DivSelectHousehold,
#DivCreateHousehold {
  margin-top: 50%;
  text-align: center;
}

#DivSelectHousehold input,
#DivCreateHousehold input {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  height: 35px;
}

#DivSelectHousehold button,
#DivCreateHousehold button {
  width: 100%;
  height: 35px;
  font-weight: bolder;
}

#DivSelectHousehold button:nth-child(4) {
  background-color: black;
  color: white;
  border: 0px solid white;
  border-radius: 5px;
}

#DivInputMeal {
  display: flex;
}

#DivInputMeal input {
  width: 100%;
  margin-right: 10px;
}

ul {
  padding: 0px;
  list-style: none;
}

.DivMealItem {
  cursor: pointer;
  display: flex;
  margin: 20px 0px 20px 0px;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
}

.DivMealItem div:nth-child(1) {
  width: 100%;
}