#LoginDiv {
  margin-top: 50%;
  padding: 20px;
  text-align: center;
}

#LoginDiv input {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  height: 35px;
}

#LoginDiv button {
  width: 100%;
  height: 35px;
}

#LoginDiv button:nth-child(1){
  font-weight: bolder;
}

#LoginDiv button:nth-child(4){
  background-color: black;
  color: white;
  font-weight: bolder;
  border: 0px solid white; 
  border-radius: 5px;
}
