#SplashDiv,
#SelectHouseholdDiv,
#CreateHouseholdDiv {
  margin-top: 50%;
  padding: 20px;
  text-align: center;
}

#SelectHouseholdDiv input,
#CreateHouseholdDiv input {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  height: 35px;
}

#SelectHouseholdDiv button,
#CreateHouseholdDiv button {
  width: 100%;
  height: 35px;
  font-weight: bolder;
}

#SelectHouseholdDiv button:nth-child(4) {
  background-color: black;
  color: white;
  border: 0px solid white;
  border-radius: 5px;
}
